[submodule "wp-content/plugins/advanced-custom-fields-pro"]
	path = wp-content/plugins/advanced-custom-fields-pro
	url = https://github.com/wp-premium/advanced-custom-fields-pro.git
[submodule "wp-content/plugins/acf-to-rest-api"]
	path = wp-content/plugins/acf-to-rest-api
	url = https://github.com/airesvsg/acf-to-rest-api.git
[submodule "wp-content/plugins/wp-rest-filter"]
	path = wp-content/plugins/wp-rest-filter
	url = https://github.com/SK8-PTY-LTD/wp-rest-filter.git
[submodule "wp-content/plugins/classic-editor"]
	path = wp-content/plugins/classic-editor
	url = https://github.com/WordPress/classic-editor.git
